<form class="d-flex" role="search" style="margin-bottom: 30px;">
  <input class="form-control me-2" type="text" [(ngModel)]="searchText" name="searchText" placeholder="Search by name">
</form>
<h3>Liste Des Résidences</h3>
<div class="card-group" style="margin-bottom: 50px;">
  <div class="card text-center" *ngFor="let residence of list()">
    <div class="card-header">{{residence.id}}</div>
    <div class="card-body ">
      <h5 class="card-title">{{residence.name}}</h5>
      <img [src]=residence.image width="200"style="margin-bottom: 20px;"><!-- using the data binging-->
      <div class="btn-group" >
        <button class="btn btn-secondary" (click)="showlocation(residence.address)">Show Location</button>
        <button class="btn btn-success" (click)="getresidence(residence)">
          <i class= "{{isclicked(residence.id)?'fa-solid fa-heart':'fa-regular fa-heart'}}"></i>
        </button>
        <button class="btn btn-danger" (click)=" delete(residence)">Delete</button>
      </div>
    </div>
    <div class="card-footer text-muted ">  <div class="card-text">{{residence.status}} 
          <!-- i dont like using 3 ifs but this is all i found to not use ngSwitchCase -->
          <span *ngIf="residence.status === 'Disponible'"><i class="fa-solid fa-house-medical-circle-check"></i> </span>  
          <span *ngIf="residence.status === 'Vendu'"><i class="fa-solid fa-house-medical-circle-xmark"></i> </span>
          <span *ngIf="residence.status === 'En Construction'"><i class="fa-solid fa-person-digging"></i> </span>
      </div> </div>
  </div>
</div>
 <h3>Liste Des Favoris</h3>
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody>
    <!-- boucle for same as for each made for listResidence-->
    <tr *ngFor="let residence of favoritelist()" >
      <td>{{residence.id}}</td>
      <td>{{residence.name}}</td>
    </tr>
  </tbody>
 </table> 